# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Dwarf-Tavern.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\dev\Dwarf-Tavern\.idea\.idea.Dwarf-Tavern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
